# Node modules
**/node_modules/

# Environment files
**/.env

# Logs
**/*.log

# Build folders
**/dist
**/build

# OS files
.DS_Store

# VSCode
.vscode/

# Coverage
**/coverage/

# Docker volumes
docker-data/
